body{
    background-color:black;
    font-family: "Libre Baskerville", serif;
    text-align: center;
}

h1{
    font-size: 3rem;
    color: white;
    background-color: black;
    text-transform: uppercase;
}

img{
    border: 5px solid white;
    width: 100%;
}

p{
    color: white;
}

div{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
}